p {
    margin-bottom: 0.5em;
}
h2 {
    padding: 10px;
}

.image-avatar {
    margin-top: -10px;
    padding-left: 50px;
    width: 250px;
    max-height: 180px;
}
.form-container {
    display: flex;
    flex-direction: row;
}